@model OCULIS.Models.PregledVida

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PregledVida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPregleda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumPregleda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DioptrijaLijevo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DioptrijaLijevo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DioptrijaDesno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DioptrijaDesno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preporuka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preporuka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElektronskiKarton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElektronskiKarton.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
